body{
    background-color: #E0F8F1;
    
    
        }

table, td {
    border: 1px solid black;
    padding: 5px;
    
    
}

h1{
    color: navy;
    font-weight: bolder;
    font-size: 180%;
    font-family: Verdana;
    text-align: center;
    
    
    
}